
<div class="modal-dialog modal-dialog--small">
	<div class="modal-dialog__header">
		<p class="u-spacer--tiny">Er is een andere versie van deze informatie {{!-- met als type "type" --}} uit een externe bron beschikbaar.</p>
		<p><strong>Wenst u de huidige informatie te vervangen?</strong></p>
	</div>
	<div class="modal-dialog__footer">
		{{#wu-button-group}}
		  {{wu-button label="Vervang huidige informatie" size="small" isNarrow=true onClick=(action "insert")}}
		{{/wu-button-group}}
	</div>
</div>

{{yield}}
