<p class="u-spacer--tiny"> Een snippet werd gevonden.<br>
  <strong>Wenst u deze in te voegen?</strong>
</p>

{{#wu-button-group}}
  {{wu-button label="Juist" size="small" isNarrow=true command="ctrl + j" commandLocation="below" onClick=(action "insert")}}
{{/wu-button-group}}

{{yield}}
