{{#each this.snippets as |snippet|}}
  <div class="modal-dialog modal-dialog--small">
    <div class="modal-dialog__header">
      <p class="u-spacer--tiny">Er is een <a href="{{snippet.source}}" target="_blank">document</a> met verkeersbord opstellingen beschikbaar.</p>
      <p><strong>Wenst u dit document als bijlage in te voegen?</strong></p>
    </div>
    <div class="modal-dialog__footer">
        {{#if this.besluitNode}}
          <button {{on "click" (fn this.insert snippet 'attachment')}} class='say-button'>Bijlage invoegen</button>
        {{/if}}
        <button {{on "click" (fn this.insert snippet)}} class='say-button'>Document invoegen</button>
    </div>
  </div>
{{/each}}
